*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#calculator{
    width: 40vw;
    height: 90vh;
    border: solid black;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    overflow: hidden;
    background-color: #262626;
}

#firstPart{
    height: 15%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

#display{
    width: 80%;
    height: 100%;
    border: solid black;
    display: flex;
    justify-content: end;
    background-color: #7bd3f7;
}

#secondPart{
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: blue;
}

.button{
    float: left;
    clear: both;
    width: 50px;
    height: 50px;
    border: solid black;
    border-radius: 50%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c8c8c;
}

.operations{
    background-color: #e71837;
}

#clearAll{
    background-color: #ffff40;
}

#equals{
    background-color: #00a86b;
}



#equals{
    float: right;
    width: 400px;
    height: 100px;
    border: solid black;
    border-radius: 10%;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}
